<% preview ||= false %>
<%= content_for :progress do %>
<div class="progress screen-only">
  <ol class="progress-bar">

    <li class="progress__stage is-complete">
      <span class="progress__stage-title">
        <%= link_to 'Start', root_path %>
      </span>
    </li>

    <%#
      Loop through each step from the wizard
      Figure out where the user is in the flow
      to indicate how far in the journey they are and
      give the user a link to that step based on if
      they have already visited it or not.
    %>
    <% wizard_steps.each do |this_step| %>
      <li
        class="progress__stage
          <%= 'is-complete' if @research_session.reached_step?(this_step) %>
          <%= 'is-active' if this_step == step %>">
        <span class="progress__stage-title">
          <% if this_step != step && @research_session.reached_step?(this_step) %>
            <%= link_to this_step.to_s.humanize, research_session_question_path(@research_session.id, this_step) %>
          <% else %>
            <%= this_step.to_s.humanize %>
          <% end %>
        </span>
      </li>
    <% end %>

    <%#
      If the user has completed the last step, provide
      a link to the preview section
    %>
    <li class="progress__stage
          <%= 'is-complete' if @research_session.reached_step?(wizard_steps.last) %>
          <%= 'is-active' if preview %>">
      <span class="progress__stage-title">
        <% if !preview && @research_session.reached_step?(wizard_steps.last) %>
          <%= link_to 'Preview', research_session_preview_path(@research_session.id) %>
        <% else %>
          Preview
        <% end %>
      </span>
    </li>
  </ol>
</div>
<% end %>
