<%= render 'back_link' %>

<h1 class="heading-medium">What is the age of the research participant?</h1>

<div class="main-content">
  <%= render 'error_summary' %>

  <%= form_for @research_session, url: wizard_path do %>
    <%=
        radio_group_vertical :age,
                             'What is the age of the research participant?',
                             Age::NAME_VALUES,
                             legend_options: { class: 'visually-hidden' }
    %>

    <%= render 'ok_cancel' %>
  <% end %>
</div>
