<%= render 'back_link' %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="visually-hidden">Age</h1>

  <%= form_for @research_session, url: wizard_path do %>
    <%=
        radio_group_vertical :age,
                             'What is the age of the research participant?',
                             Age::NAME_VALUES,
                             @research_session.age,
                             legend_options: { class: 'subtitle-large' }
    %>

    <%= render 'ok_cancel' %>
  <% end %>
</div>
