<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Expenses</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

      <%= form.labelled_text_field :travel_expenses_limit,
            text_options: { placeholder: '0.00' }
      %>

      <%= form.labelled_text_field :food_expenses_limit,
            text_options: { placeholder: '0.00' }
      %>

      <%= form.labelled_text_field :other_expenses_limit,
            text_options: { placeholder: '0.00' }
      %>

      <%= form.radio_group_vertical :receipts_required,
            { true => 'Yes', false => 'No' },
            legend: 'Must the participant provide a receipt for any expenses claimed?'
      %>

      <%= form.labelled_text_area :food_provided %>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
