<%= render 'back_link' %>

<h2 class="heading-medium">Research Focus</h2>
<div class="main-content">
  <%= render 'error_summary' %>

  <%= form_for @research_session, url: wizard_path do %>
      <%= labelled_text_area_tag(
            :focus,
            'What is the focus of your research project?',
            @research_session.focus,
            label_options: {
                hint: 'Use simple language to explain what you are researching '\
                      'and why you are doing it'}
          )
      %>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
