<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Incentives</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= form.radio_group_vertical :incentive,
          { true => 'Yes', false => 'No' },
          { autofocus_first_item: true },
          legend: 'Will an incentive be provided?'
      %>

      <%= form.radio_group_vertical :payment_type,
          PaymentType::NAME_VALUES,
          legend: 'What form will the incentive take?'
      %>

      <%= form.labelled_text_field :incentive_value %>

      <%= render 'button_bar' %>
  <% end %>
</div>
