<%= render 'back_link' %>

<h2 class="heading-medium">Incentives</h2>
<div class="main-content">
  <%= render 'error_summary' %>

  <%= form_for @research_session, url: wizard_path do %>
      <fieldset class="horizontal-radio-list " id="incentive">
        <legend class="horizontal-radio-list__legend">
          Will an incentive be provided?
        </legend>

        <div class="horizontal-radio-list__choice">
          <%= radio_button_tag :incentive,
                               '1',
                               @research_session.incentive == true,
                               class: 'horizontal-radio-list__checkbox',
                               id: 'incentive-yes' %>
          <label class="horizontal-radio-list__label" for="incentive-yes">Yes</label>
        </div>

        <div class="horizontal-radio-list__choice">
          <%= radio_button_tag :incentive,
                               '0',
                               @research_session.incentive == false,
                               class: 'horizontal-radio-list__checkbox',
                               id: 'incentive-no' %>
          <label class="horizontal-radio-list__label" for="incentive-no">No</label>
        </div>

      </fieldset>

      <fieldset class="horizontal-radio-list " id="paymenttype">
        <legend class="horizontal-radio-list__legend">
          What form will the incentive take?
        </legend>

        <div class="horizontal-radio-list__choice">
          <%= radio_button_tag :payment_type, :cash,
                               @research_session.payment_type == 'cash',
                               class: 'horizontal-radio-list__checkbox',
                               id: 'payment_type-cash' %>
          <label class="horizontal-radio-list__label" for="payment_type-cash">Cash</label>
        </div>

        <div class="horizontal-radio-list__choice">
          <%= radio_button_tag :payment_type, :voucher,
                               @research_session.payment_type == 'voucher',
                               class: 'horizontal-radio-list__checkbox',
                               id: 'payment_type-voucher'%>

          <label class="horizontal-radio-list__label" for="payment_type-voucher">High street shopping voucher</label>
        </div>
      </fieldset>

      <%=
        labelled_text_field_tag :incentive_value,
                                'Incentive value',
                                @research_session.incentive_value %>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
