<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="visually-hidden">Methodologies</h1>
  <%= form_for @research_session, url: wizard_path do %>
      <%= checkbox_group_vertical(
            'methodologies[]',
            'What research methodologies will you be using?',
            Methodologies::NAME_VALUES,
            @research_session.methodologies,
            legend_options: { class: 'subtitle-large' }
          )
      %>

      <div class="js-ConditionalSubfield" data-controlled-by="methodologies[]" data-control-value="other">
        <%= labelled_text_field_tag(
              :other_methodology,
              'What is the other methodology?',
              @research_session.other_methodology
            )
        %>
      </div>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
