<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Methodologies</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= checkbox_group_vertical(
            'methodologies[]',
            'How will you be gathering information?',
            Methodologies::NAME_VALUES,
            @research_session.methodologies
          )
      %>

      <div class="js-ConditionalSubfield" data-controlled-by="methodologies[]" data-control-value="other">
        <%= labelled_text_field_tag(
              :other_methodology,
              'What is the other methodology?',
              @research_session.other_methodology
            )
        %>
      </div>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
