<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Methodologies</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= form.checkbox_group_vertical(
            :methodologies,
            Methodologies::NAME_VALUES,
            legend: 'How will you be gathering information?',
            legend_options: { class: 'subtitle-large' }
          )
      %>

      <div class="js-ConditionalSubfield"
           data-controlled-by="research_session[methodologies][]"
           data-control-value="other">
        <%= form.labelled_text_field :other_methodology %>
      </div>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
