<a class="back-link" href="{{previous}}">Back</a>

<h1 class="heading-medium">Participant name</h1>
<div class="main-content">
  <%= form_tag do %>
    <%= labelled_text_field_tag :participant_name,
                                'What is the name of the research participant?',
                                label_options: { hint: 'Full name' } %>

    <% if @session_data['age'] != 'over18' %>
      <%= labelled_text_field_tag :guardian_name,
                                  'What is the name of the parent/guardian consenting to the research?',
                                  label_options: { hint: 'Full name' } %>
    <% end %>

    <p class="button-bar">
      <%= button_tag('Continue', type: :submit, class: 'button') %>
      <%= link_to 'Cancel', root_path, class: 'button button--secondary' %>
    </p>
  <% end %>
</div>
