<%= render "research_sessions/progress", preview: true %>

<div class="preview-header screen-only">
  <form class="print-section js-print-section" action="#">
    <label for="area-to-print" class="selectfield">
        <select name="area-to-print" id="area-to-print" class="print-section__select js-area-to-print">
          <option value="#consent-form,#info-sheets">Consent Form and Info Sheet</option>
          <option value="#consent-form">Consent Form</option>
          <option value="#info-sheets">Info Sheet</option>
        </select>
    </label>
    <button type="submit" class="print-section__submit button">Print</button>
  </form>

  <h1 class="page-heading">Research session preview</h1>

  <% if @research_session.able_to_consent? %>
    <p>Showing info sheet and consent form for respondents who <strong>can</strong> give consent themselves.</p>
    <p><a href="?able-to-consent=no">Show info sheet and consent form for respondents who <strong>can't</strong> give consent themselves.</a></p>
  <% end %>

  <% if @research_session.unable_to_consent? %>
    <p>Showing info sheet and consent form for respondents who <strong>can't</strong> give consent themselves.</p>
    <p><a href="?able-to-consent=yes">Show info sheet and consent form for respondents who <strong>can</strong> give consent themselves.</a></p>
  <% end %>
</div>

<div class="print-area js-print-area" id="info-sheets">
  <section>
    <h2>About this research project</h2>
    <p class="super-text">This information sheet will tell you more about the
      research so that you can decide whether or not <%= you_or_your_child %> would like to take part.</p>
  </section>

  <section>
    <h3 id="about-taking-part">About taking part</h3>
    <p>
      <%= you_or_your_child.capitalize %> <%= @research_session.unable_to_consent? ? 'does' : 'do' %>
      not have to take part in this session. It is your decision<%= ' as the parent/carer' if @research_session.unable_to_consent? %>.
    </p>
    <p>
      We will also ask <%= you_or_your_child %> if <%= you_or_they %> want to take
      part before the session.
    </p>
    <p>
      Don’t worry! If you do not want <%= 'the child in your care' if @research_session.unable_to_consent? %>
      to take part it will not affect the service <%= you_or_they %> receive.
    </p>
    <p>
      <%= you_or_your_child.capitalize %> can change <%= your_or_their %> mind at any point for any
      reason by letting the researcher know <%= you_or_they %> want to stop.
    </p>
  </section>
  
  <section>
    <%= react_component(
        'TopicPurposePreviews',
        final_preview_params(:topic),
        {
          prerender: true
        }
      )
    %>

    <p>
      It is important that we test the current and future tools and services that
      we are developing with people like <%= you_or_your_child %> so that we can make them as good as
      possible.
    </p>
  </section>

  <section>
    <h3 id="what">What happens in this research session?</h3>
    <%=
      react_component(
        'Shared/TakePartIn',
        final_preview_params(:researcher).merge({
          you_or_your_child: you_or_your_child
        }),
        { prerender: true }
      )
    %>
    <%=
      react_component(
        'Shared/WeWillRecordBy',
        final_preview_params(:methodologies),
        { prerender: true }
      )
    %>
    <%=
      react_component(
        'Shared/WhichWeWillRecordUsingList', final_preview_params(:recording),
        { prerender: true }
      )
    %>
    <%=
      react_component(
        'Shared/AnotherResearcherSentence',
        final_preview_params(:researcher),
        { prerender: true }
      )
    %>
  </section>

  <% if @research_session.incentives_enabled ||
        @research_session.where_when_enabled ||
        @research_session.expenses_enabled %>
    <section>
      <h3 id="session">Session details</h3>

      <%=
        react_component(
          'Shared/SessionInformation',
          final_preview_params(:where_when),
          { prerender: true }
        )
      %>

      <% if @research_session.incentives_enabled %>
        <%=
          react_component(
            'Shared/Incentives',
            final_preview_params(:incentives).merge({
              you_or_your_child: you_or_your_child,
              your_or_your_childs: your_or_your_childs.capitalize,
              you_or_they: you_or_they
              }),
            { prerender: true }
          )
        %>
      <% end %>

      <%=
        react_component(
          'Shared/ParticipantEquipment',
          final_preview_params(:where_when).merge({
            you_or_your_child: you_or_your_child.capitalize
            }),
          { prerender: true }
        )
      %>

      <% if @research_session.expenses_enabled %>
        <%=
          react_component(
            'Shared/Expenses',
            final_preview_params(:expenses),
            { prerender: true }
          )
        %>
      <% end %>

      <%=
        react_component(
          'Shared/Refreshments',
          final_preview_params(:where_when),
          { prerender: true }
        )
      %>

    </section>
  <% end %>

  <%=
    react_component(
      'Shared/WillAnyoneKnowWhatISayInTheDiscussion',
      final_preview_params(:storing).merge(
        shared_title: "Will anyone know what #{i_or_they} say in the discussion?",
        you_or_your_child: you_or_your_child,
        say_or_says: say_or_says
      ),
      { prerender: true }
    )
  %>

  <section>
    <h3 id="sharing-information">Sharing information</h3>
    <p>
      We may have to share information about <%= you_or_your_child %> without
      your consent if we think <%= you_or_they %> or someone else is at risk
      of serious harm. All our researchers have received safeguarding training and will follow Barnardo's guidance to manage these situations appropriately.
    </p>
  </section>

  <%=
    react_component(
      'Shared/FindOutMore',
      final_preview_params(:researcher), { prerender: true }
    )
  %>

  <section>
    <h3 id="concerns">Concerns and complaints</h3>

    <p>If you have any concerns or a complaint, or would like to have your data deleted please contact:

    <dl class="definition-list">
      <div>
        <dt class="definition-list__term">Telephone:</dt>
        <dd>+442084987869</dd>
      </div>
      <div>
        <dt class="definition-list__term">Email:</dt>
        <dd><%= mail_to 'jason.caplin@barnardos.org.uk' %></dd>
      </div>
    </dl>
  </section>

  <section>
    <h3 id="decide">
      Decide if you want<%=
        ' the child in your care' if @research_session.unable_to_consent?
      %> to take part</h3>

    <p>If you are happy<%=
      ' for the child in your care' if @research_session.unable_to_consent?
      %> to take part, we will ask you to sign a consent form. This will ask you to confirm:</p>

    <ol class="numbered-list">
      <li>that you are happy with the information you have received, and;</li>
      <li>that you understand what we are going to do with the research recordings collected, and;</li>
      <li>that you know who to ask for more information, and;</li>
      <li>that your decision is voluntary</li>
    </ol>

    <p>Thank you!</p>
  </section>
</div>

<div class="print-area js-print-area" id="consent-form">
  <h2 class="page-heading">Consent form</h2>

  <p>It is important to us that your consent
    <%= 'for your child' if @research_session.unable_to_consent? %> to
    take part in this research is freely given and fully informed.</p>
  <p>Please review the following points and indicate your agreement to the
    statements underneath.</p>

  <ul class="bullet-point-list">
    <li>I have read and understood the Information
      Sheet for this research project and have had an opportunity to ask
      questions.
    </li>
    <li>I understand that my <%='childʼs' if @research_session.unable_to_consent? %>
      participation is voluntary and that I am free to withdraw them at any time
      without giving any reason.
    </li>
    <%=
      react_component(
        'Shared/WhichWeWillRecordUsingSentence',
        final_preview_params(:recording),
        { prerender: true }
      )
    %>

    <li>I understand that this data will be stored securely and
      covered by the Data Protection Act.
    </li>
  </ul>

  <p>
    I agree to my<%= ' childʼs' if @research_session.unable_to_consent? %>
    participation in this research and understand that
    my<%= ' childʼs' if @research_session.unable_to_consent? %> data will be used as explained above.
  </p>

  <%# Note: no whitespace between divs important here %>
  <div class="writing-field name">
    <label for="name">Name</label>
    <input disabled name="name" class="space-for-writing">
  </div><div class="writing-field signature">
    <label for="signature">Signature</label>
    <input disabled name="signature" class="space-for-writing">
  </div><div class="writing-field date">
    <label for="date">Date</label>
    <input disabled name="date" class="space-for-writing">
  </div>
</div>
