<%= render "research_sessions/progress", preview: true %>

<form class="print-section screen-only js-print-section" action="#">
  <select name="area-to-print" id="area-to-print" class="print-section__select js-area-to-print">
    <option value="#consent-form,#info-sheets">Consent Form and Info Sheet</option>
    <option value="#consent-form">Consent Form</option>
    <option value="#info-sheets">Info Sheet</option>
  </select>
  <button type="submit" class="print-section__submit button">Print</button>
</form>

<h1 class="title screen-only">Research session preview</h1>

<section class="split-link screen-only">
  <div class="<%='active' if @research_session.able_to_consent? %>">
    <a id="over18-link" href="?age=over18">Respondents who can give consent themselves</a>
  </div>
  <div class="<%='active' if @research_session.unable_to_consent? %>">
    <a id="under18-link" href="?age=under18">Respondents who can't give consent</a>
  </div>
</section>

<div class="print-area js-print-area" id="info-sheets">
  <section>
    <h2 class="heading-medium">About this research project</h2>
    <p class="super-text">This information sheet will tell you more about the
    research so that you can decide whether or not you would like to take part.</p>
  </section>

  <section>
    <h3 class="subtitle-small" id="why">Why is the research being done?</h3>

    <p>
      <%= edit_link_for(:topic) do %>
        <%= simple_format(@research_session.topic) %>
      <% end %>
    </p>

    <p>
      <%= edit_link_for(:purpose) do %>
        <%= simple_format(@research_session.purpose) %>
      <% end %>
    </p>

    <p>
      It is important that we test the current and future tools and services that
      we are developing with people like you so that we can make them as good as
      possible.
    </p>
  </section>
  <section>
    <h3 class="subtitle-small" id="who">Who is doing the research?</h3>
    <p>
      <%= edit_link_for(:researcher_name) %> is the researcher who will be leading the session.
      <% if @research_session.researcher_other_name.present? %>
        <%= edit_link_for(:researcher_name) %>ʼs colleague,
        <%= edit_link_for(:researcher_other_name) %>,
        may join <%= edit_link_for(:researcher_name) %> sometimes to help.
      <% end %>
    </p>
  </section>
  <section>
    <h3 class="subtitle-small" id="what">What will happen next?</h3>

    <%= edit_link_for(:methodologies) do %>
      <%= @research_session.methodology_list %>
    <% end %>
    <p>
      With your permission we will record the session using
      <%= edit_link_for(:recording_methods) { @research_session.recording_methods_list } %>.
      Recording the session helps the researcher and other research team members
      trying to improve the service, as it allows them to review the most useful
      parts of the session after it hasfinished.
    </p>
  </section>
  <section>
    <h3 class="subtitle-small" id="doi">Do I have to take part?</h3>
    <p>
      Taking part is entirely voluntary - it is up to you to decide whether or not
      to take part. If you decide to take part you do not have to answer questions
      you do not want to answer. You can also change your mind about taking part
      at any time and withdraw without giving a reason.
    </p>
    <p>
      If you agree to take part, you will be given a copy of this information
      sheet and be asked to sign a consent form.
    </p>
  </section>
  <section>
    <h3 class="subtitle-small" id="more">Where can I find out more?</h3>
    <p><%= edit_link_for(:researcher_name) %> will be able to answer further questions about the
      research. <%= edit_link_for(:researcher_name) %> can be contacted by email at
      <%= edit_link_for(:researcher_email) %> or by telephone on <%= edit_link_for(:researcher_phone) %>.</p>
    <p>If you have any questions or concerns about the way in which this research has
      been conducted then please contact Joelle Bradly at
      <a href="mailto:joelle.bradly@barnardos.org.uk">joelle.bradly@barnardos.org.uk</a></p>
  </section>
  <section>
    <h3 class="subtitle-small" id="private">Will what I say be kept confidential?</h3>
    <p>Yes. The goal of design research isnʼt to collect data, itʼs to find the
      insights we need to improve our services. We do not hand over the recordings; we
      edit and share insights relevant to the project. Whenever we share these
      insights, the material is fully anonymised and contributions cannot be
      attributed to named individuals.</p>
    <p>You will not be identifiable in anything published. All personal data
      collected as part of the research is stored securely and kept strictly
      confidential.</p>
  </section>
  <section>
    <h3 class="subtitle-small" id="private">How will the data be used?</h3>
    <p><%= edit_link_for(:shared_use) %></p>

    <p>The data will be kept for <%= edit_link_for(:shared_duration) %>.</p>
  </section>
  <section>
    <h3 class="subtitle-small" id="private">When is the session and what should I bring?</h3>
    <p>
      The session is on
      <%= edit_link_for(:start_datetime) do %>
        <strong><%= @research_session.start_datetime.strftime("%B %d, %Y") %></strong> at
        <strong><%= @research_session.start_datetime.strftime("%I:%M%p") %></strong>.
      <% end %>

      <% if @research_session.duration.present? %>
        The session will last for <%= edit_link_for(:duration) %>.
      <% end %>
    </p>
    <% if @research_session.participant_equipment.present? %>
      <p>
        <%= edit_link_for(:participant_equipment) %>
      </p>
    <% end %>
  </section>
  <% if @research_session.any_expenses? %>
    <section>
      <h3 class="subtitle-small">Expenses</h3>
      <p>
        <%= edit_link_for(:travel_expenses_limit) do %>
          <%= @research_session.expenses_sentence %>
        <% end %>
      </p>
      <% if @research_session.receipts_required %>
        <p>
          <%= edit_link_for(:receipts_required) do %>
            Receipts must be provided.
          <% end %>
        </p>
      <% end %>
    </section>
  <% end %>
  <% if @research_session.incentive %>
    <section>
      <h3 class="subtitle-small">Incentive</h3>
      <p>
        We are offering
        <%= edit_link_for(:incentive_value) do %><%= @research_session.incentive_text %><% end %>
        for participation in this session.
      </p>
    </section>
  <% end %>
</div>

<div class="print-area js-print-area" id="consent-form">
  <h2 class="heading-large">Review</h2>

  <p class="super-text">It is important to us that your consent
    <%= 'for your child' if @research_session.unable_to_consent? %> to
    take part in this research is freely given and fully informed.</p>
  <p>Please review the following points and indicate your agreement to the
    statements underneath.</p>

  <ul class="bullet-point-list">
    <li>I have read and understood the Information
      Sheet for this research project and have had an opportunity to ask
      questions.
    </li>
    <li>I understand that my <%='childʼs' if @research_session.unable_to_consent? %>
      participation is voluntary and that I am free to withdraw them at any time
      without giving any reason.
    </li>
    <li>I understand that my <%='childʼs' if @research_session.unable_to_consent? %>
      activities during the research session may be observed and will be recorded.
      The data captured, in the form of <%= @research_session.recording_methods_list %>,
      will be used for current and future service development.
    </li>
    <li>I understand that this data will be stored securely and
      covered by the Data Protection Act.
    </li>
  </ul>

  <p class="highlight super-text">
    I agree to my <%= 'childʼs' if @research_session.unable_to_consent? %>
    participation in this research and understand that
    my childʼs data will be used as explained above.
  </p>

  <%# Note: no whitespace between divs important here %>
  <div class="writing-field name">
    <label for="name">Name</label>
    <input disabled name="name" class="space-for-writing">
  </div><div class="writing-field signature">
    <label for="signature">Signature</label>
    <input disabled name="signature" class="space-for-writing">
  </div><div class="writing-field date">
    <label for="date">Date</label>
    <input disabled name="date" class="space-for-writing">
  </div>
</div>
