<% ct = "preview.#{@research_session.able_to_consent_key}" %>

<%= c('Preview') do %>

  <%= c('PreviewInformation') do %>
    <div class="PreviewInformation-section">
      <%= c('Title', text: t('preview.title')) %>

      <% t("#{ct}.consent_control").each do |text| %>
        <%= c('Paragraph') do %>
          <%= raw text %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= c('PreviewConsentForm') do %>
    <%= c('PrintArea') do %>
      <%= c('PreviewSection') do %>
        <%= c('Title', text: t("#{ct}.consent_form.title")) %>
        <%= c('Paragraph') do %>
          <%= raw t(
            "#{ct}.consent_form.the_research",
            topic: c(
              'Output',
              text: @research_session.topic,
              field: 'topic',
              url: edit_link_for(:topic)
            ),
            purpose: c(
              'Output',
              text: @research_session.purpose,
              field: 'purpose',
              url: edit_link_for(:purpose)
            )
          ) %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.consent_form.would_like_participant") %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.consent_form.young_people") %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.consent_form.voluntary") %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.consent_form.change_mind") %>
        <% end %>
      <% end %>


      <%= c('PreviewSection') do %>
        <%= c('HeadingOne', text: t("#{ct}.the_research.heading")) %>
        <%= c('Paragraph') do %>
          <%= raw t(
            "#{ct}.the_research.take_part_in",
            researcher_name: c(
              'Output',
              text: @research_session.researcher_name,
              field: 'researcher_name',
              url: edit_link_for(:researcher_name)
            ),
            researcher_job_title: c(
              'Output',
              text: @research_session.researcher_job_title,
              field: 'researcher_job_title',
              url: edit_link_for(:researcher_job_title)
            )
          ) %>
        <% end %>
        <%= c('UnorderedList') do %>
          <% @research_session.methodologies.each do |methodology| %>
            <%
              methodology_text =
                methodology === 'other' ?
                  @research_session.other_methodology
                  :
                  t("#{ct}.the_research.methodologies.#{methodology}")
            %>
            <%= c('ListItem') do %>
              <%= c(
                'Output',
                text: methodology_text,
                field: 'methodologies',
                url: edit_link_for(:methodologies)
              ) %>
            <% end %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.the_research.record_using") %>
        <% end %>
        <%= c('UnorderedList') do %>
          <% @research_session.recording_methods.each do |recording_method| %>
            <%
              recording_text =
                recording_method === 'other' ?
                  @research_session.other_recording_method
                  :
                  t("#{ct}.the_research.recording_methods.#{recording_method}")
            %>
            <%= c('ListItem') do %>
              <%= c(
                'Output',
                text: recording_text,
                field: 'recording_methods',
                url: edit_link_for(:recording_methods)
              ) %>
            <% end %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= raw t(
            "#{ct}.the_research.may_be_contacted",
            researcher_name: c(
              'Output',
              text: @research_session.researcher_name,
              field: 'researcher_name',
              url: edit_link_for(:researcher_name)
            )
          ) %>
        <% end %>
        <%= c('UnorderedList') do %>
          <%= c('ListItem') do %>
            <%= raw t(
              "#{ct}.the_research.contacted_by.email",
              email: c(
                'Output',
                text: @research_session['researcher_email'],
                field: 'researcher_email',
                url: edit_link_for(:researcher_email)
              )
            ) %>
          <% end %>
          <%= c('ListItem') do %>
            <%= raw t(
              "#{ct}.the_research.contacted_by.phone",
              phone: c(
                'Output',
                text: @research_session['researcher_phone'],
                field: 'researcher_phone',
                url: edit_link_for(:researcher_phone)
              )
            ) %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.the_research.other_researchers") %>
        <% end %>
      <% end %>

       <% if @research_session.incentives_enabled ||
            @research_session.where_when_enabled ||
            @research_session.expenses_enabled %>
        <%= c('PreviewSection') do %>
          <%= c('HeadingOne', text: t("#{ct}.the_session.heading")) %>

          <% if @research_session.where_when_enabled %>
            <% [:when_text, :location, :duration].each do |field| %>
              <% if @research_session["#{field}"].present? %>
                <%= c('Paragraph') do %>
                  <%= raw t("#{ct}.the_session.#{field}") % [
                    c(
                      'Output',
                      text: @research_session["#{field}"],
                      field: field,
                      url: edit_link_for(field)
                    )
                  ] %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if @research_session.where_when_enabled && @research_session.participant_equipment.present? %>
            <%= c('Paragraph') do %>
              <%= raw t("#{ct}.the_session.participant_equipment", equipment: c(
                'Output',
                text: @research_session.participant_equipment,
                field: 'participant_equipment',
                url: edit_link_for(:participant_equipment)
              )) %>
            <% end %>
          <% end %>

          <% if @research_session.expenses_enabled %>
            <%
              expenses = [
                :travel_expenses_limit,
                :food_expenses_limit,
                :other_expenses_limit
              ]
              .select { |expense_type| @research_session[expense_type].present? }
              .map { |expense_type|
                c(
                  'Output',
                  text: t("#{ct}.the_session.#{expense_type}", value: number_to_currency(@research_session[expense_type])),
                  field: expense_type,
                  url: edit_link_for(expense_type)
                )
              }
              .to_sentence
            %>

            <%= c('Paragraph') do %>
              <%= raw t("#{ct}.the_session.expenses", expenses: expenses) %>
            <% end %>

            <% if @research_session.receipts_required %>
              <%= c('Paragraph') do %>
                <%= c(
                  'Output',
                  text: t("#{ct}.the_session.receipts_required"),
                  field: 'receipts_required',
                  url: edit_link_for(:receipts_required)
                ) %>
              <% end %>
            <% end %>

            <% if @research_session.where_when_enabled && @research_session.food_provided.present? %>
              <%= c('Paragraph') do %>
                <%= raw t("#{ct}.the_session.food_provided", food: c(
                  'Output',
                  text: @research_session.food_provided,
                  field: 'food_provided',
                  url: edit_link_for(:food_provided)
                )) %>
              <% end %>
            <% end %>

            <% if @research_session.incentives_enabled %>
              <%= c('Paragraph') do %>
                <%= raw t(
                  "#{ct}.the_session.incentive",
                  value: c(
                    'Output',
                    text: number_to_currency(@research_session.incentive_value),
                    field: 'incentive_value',
                    url: edit_link_for(:incentive_value)
                  ),
                  payment_type: c(
                    'Output',
                    text: t("#{ct}.the_session.payment_type.#{@research_session.payment_type}"),
                    field: 'payment_type',
                    url: edit_link_for(:payment_type)
                  )
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= c('PreviewSection') do %>
        <%= c('HeadingOne', text: t("#{ct}.personal_data.heading")) %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.personal_data.intro") %>
        <% end %>
        <%= c('UnorderedList') do %>
          <% t("#{ct}.personal_data.people_present").each do |text| %>
            <%= c('ListItem') do %>
              <%= text %>
            <% end %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%=
            c(
              'Output',
              text: t("#{ct}.personal_data.shared_with.#{@research_session.shared_with}"),
              field: 'shared_with',
              url: edit_link_for(:shared_with)
            )
          %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= raw t("#{ct}.personal_data.shared_duration", duration: c(
            'Output',
            text: @research_session.shared_duration,
            field: 'shared_duration',
            url: edit_link_for(:shared_duration)
          )) %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.personal_data.contact") %>
        <% end %>
        <%= c('UnorderedList') do %>
          <% t("#{ct}.personal_data.contact_details").each do |text| %>
            <%= c('ListItem') do %>
              <%= text %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= c('PreviewSection') do %>
        <%= c('HeadingOne', text: t("#{ct}.safeguarding.heading")) %>
        <% t("#{ct}.safeguarding.paragraphs").each do |text| %>
          <%=
            c('Paragraph') do
              text
            end
          %>
        <% end %>
      <% end %>
    <% end %>

    <%= c('PrintArea') do %>
      <%= c('PreviewSection') do %>
        <%= c('HeadingOne', text: t("#{ct}.giving_your_consent.heading")) %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.giving_your_consent.intro") %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.giving_your_consent.i_understand") %>
        <% end %>
        <%= c('UnorderedList') do %>
          <%= c('ListItem') do %>
            <%= t("#{ct}.giving_your_consent.participation") %>
          <% end %>
          <%= c('ListItem') do %>
            <%
              recording_methods =
                @research_session.recording_methods
                  .map { |recording_method|
                    if recording_method === 'other'
                      c(
                        'Output',
                        text: @research_session.other_recording_method,
                        field: 'other_recording_method',
                        url: edit_link_for(:other_recording_method)
                      )
                    else
                      c(
                        'Output',
                        text:  t("#{ct}.the_research.recording_methods.#{recording_method}"),
                        field: 'recording_methods',
                        url: edit_link_for(:recording_methods)
                      )
                    end
                  }
            %>
            <%= raw t("#{ct}.giving_your_consent.activities", recording_methods: recording_methods.to_sentence.downcase) %>
          <% end %>
          <%= c('ListItem') do %>
            <%= t("#{ct}.giving_your_consent.data") %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= t("#{ct}.giving_your_consent.i_agree") %>
        <% end %>
      <% end %>
      <%= c('WritingFields', fields: t("#{ct}.giving_your_consent.fields")) %>
    <% end %>
  <% end %>

  <%= c('PreviewInformation') do %>
    <div class="PreviewInformation-section">
      <%= c('Paragraph') do %>
        <%= c('PrintCommand', text: t('preview.print')) %>
      <% end %>
      <% t('preview.stuff').each_with_index do |text, index| %>
        <%= c('Paragraph') do %>
          <% if index == 0 %>
            <%= raw text % new_research_session_path(from_existing: @research_session.slug) %>
          <% elsif index == 3 %>
            <%= raw text % new_research_session_path %>
          <% else %>
            <%= raw text %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
