<%= render "research_sessions/progress", preview: true %>

<form class="print-section screen-only js-print-section" action="#">
  <label for="area-to-print" class="selectfield">
      <select name="area-to-print" id="area-to-print" class="print-section__select js-area-to-print">
        <option value="#consent-form,#info-sheets">Consent Form and Info Sheet</option>
        <option value="#consent-form">Consent Form</option>
        <option value="#info-sheets">Info Sheet</option>
      </select>
  </label>
  <button type="submit" class="print-section__submit button">Print</button>
</form>

<h1 class="title screen-only">Research session preview</h1>

<section class="split-link screen-only">
  <div class="<%='active' if @research_session.able_to_consent? %>">
    <a href="?able-to-consent=yes">Respondents who can give consent themselves</a>
  </div>
  <div class="<%='active' if @research_session.unable_to_consent? %>">
    <a href="?able-to-consent=no">Respondents who can't give consent</a>
  </div>
</section>

<div class="print-area js-print-area" id="info-sheets">
  <section>
    <h2 class="heading-medium">About this research project</h2>
    <p class="super-text">This information sheet will tell you more about the
      research so that you can decide whether or not <%= you_or_your_child %> would like to take part.</p>
  </section>

  <section>
    <h3 class="subtitle-small" id="why">Why we are doing research</h3>

    <p>
      <%= I18n.t('research_session_attr_labels.topic') %>
      <%= edit_link_for(:topic) %>
      <%= I18n.t('research_session_attr_labels.purpose') %>
      <%= edit_link_for(:purpose) %>.
    </p>

    <p>
      It is important that we test the current and future tools and services that
      we are developing with people like <%= you_or_your_child %> so that we can make them as good as
      possible.
    </p>
  </section>

  <% methodologies = capture do %>
    <ul class="bullet-point-list">
      <% @research_session.methodologies.each do |methodology| %>
        <li>
          <%= edit_link_for(:methodologies) do %>
            <%= methodology_lookup(methodology) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% recording = capture do %>
    <p>
      Which we will record using:
      <ul class="bullet-point-list">
        <% @research_session.recording_methods.each do |recording_method| %>
          <li>
            <%= edit_link_for(:recording_methods) do %>
              <%= recording_method_lookup(recording_method) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <%=
    react_component(
      'Shared/WhatHappensInThisResearchSession',
      component_params(:researcher_job_title, :researcher_name, final_preview: true).merge({
        methodologies_markup: methodologies,
        recording_markup: recording,
        you_or_your_child: you_or_your_child
      }),
      {
        prerender: true
      }
    )
  %>

  <section>
    <h3 class="subtitle-small" id="session-details">Session details</h3>
    <% if @research_session.where_when_enabled %>
      <p>The session is</p>
      <dl class="definition-list">
        <%
          {
            when_text: 'On',
            location:  'At',
            duration:  'Duration'
          }.each_pair do |attr, term|
        %>
          <% if @research_session.send(attr).present? %>
            <div>
              <dt><%= term %>:</dt>
              <dd><%= edit_link_for(attr) %></dd>
            </div>
          <% end  %>
        <% end %>
      </dl>
      <p>
        <%= your_or_your_childs.capitalize %> time and what <%= you_or_they %>
        say is really important to us.

        <% if @research_session.incentives_enabled %>
          As a thank you, we will give <%= you_or_your_child %>
          <%= edit_link_for(:incentive_value) do %><%= @research_session.incentive_text %><% end %>.
        <% end %>
      </p>
      <% if @research_session.participant_equipment.present? %>
        <p>
          <%= you_or_your_child.capitalize %> will need to bring
          <%= edit_link_for(:participant_equipment) %>.
        </p>
      <% end %>
    <% end %>
    <% if @research_session.expenses_enabled %>
      <p>
        <%= edit_link_for(:travel_expenses_limit) do %>
          <%= @research_session.expenses_sentence %>
        <% end %>
      </p>
      <% if @research_session.receipts_required %>
        <p>
          <%= edit_link_for(:receipts_required) do %>
            Receipts must be provided.
          <% end %>
        </p>
      <% end %>
    <% end %>
  </section>

  <section>
    <h3 class="subtitle-small" id="confidential">
      Will anyone know what <%= i_or_they %> say in the discussion?
    </h3>

    <p>
      The only people who will hear what <%= you_or_your_child %> <%= say_or_says %> in the session
      will be the researchers running the session, other young people taking part, and
      service workers facilitating the session.
    </p>

    <p>
      <%= edit_link_for(:shared_with) do %>
        <%= shared_with_lookup(@research_session.shared_with) %>
      <% end %>
    </p>

    <p>
      Barnardo’s will hold research data for <%= edit_link_for(:shared_duration) %>
      after the closure of this project, after which it will be deleted.
      Personal data is stored in a safe and secure way.
    </p>
    <p>
      You can contact Jason Caplin to ask us to delete your personal data at any time.
    </p>
  </section>

  <section>
    <h3 class="subtitle-small" id="sharing-information">Sharing information</h3>
    <p>
      We may have to share information about <%= you_or_your_child %> without
      your consent if we think <%= you_or_they %> or someone else is at risk
      of serious harm. Where possible, the lead researcher speak to you first
      and ask you what you want to do about the situation.
    </p>
  </section>

  <section>
    <h3 class="subtitle-small" id="about-taking-part">About taking part</h3>
    <p>
      <%= you_or_your_child.capitalize %> <%= @research_session.unable_to_consent? ? 'does' : 'do' %>
      not have to take part in this session. It is your decision<%= ' as the parent/carer' if @research_session.unable_to_consent? %>.
    </p>
    <p>
      We will also ask <%= you_or_your_child %> if <%= you_or_they %> want to take
      part before the session.
    </p>
    <p>
      Don’t worry! If you do not want <%= 'the child in your care' if @research_session.unable_to_consent? %>
      to take part it will not affect the service <%= you_or_they %> may receive.
    </p>
    <p>
      <%= you_or_they.capitalize %> can change your mind at any point for any
      reason - just let us know!
    </p>
  </section>

  <%=
    react_component(
      'Shared/FindOutMore',
      component_params(:researcher_name, :researcher_phone, :researcher_email, final_preview: true),
      {
        prerender: true
      }
    )
  %>

  <section>
    <h3 class="subtitle-small" id="concerns">Concerns and complaints</h3>

    <p>If you have any concerns or a complaint, or would like to have your data deleted please contact:

    <dl class="definition-list">
      <div>
        <dt class="definition-list__term">Telephone:</dt>
        <dd>+442084987869</dd>
      </div>
      <div>
        <dt class="definition-list__term">Email:</dt>
        <dd><%= mail_to 'jason.caplin@barnardos.org.uk' %></dd>
      </div>
    </dl>
  </section>

  <section>
    <h3 class="subtitle-small" id="decide">
      Decide if you want<%=
        ' the child in your care' if @research_session.unable_to_consent?
      %> to take part</h3>

    <p>If you are happy<%=
      ' for the child in your care' if @research_session.unable_to_consent?
      %> to take part, we will ask you to sign a consent form. This will ask you to confirm:</p>

    <ol class="numbered-list">
      <li>that you are happy with the information you have received, and;</li>
      <li>that you understand what we are going to do with the research recordings collected, and;</li>
      <li>that you know who to ask for more information, and;</li>
      <li>that your decision is voluntary</li>
    </ol>

    <p>Thank you!</p>
  </section>
</div>

<div class="print-area js-print-area" id="consent-form">
  <h2 class="heading-large">Review</h2>

  <p class="super-text">It is important to us that your consent
    <%= 'for your child' if @research_session.unable_to_consent? %> to
    take part in this research is freely given and fully informed.</p>
  <p>Please review the following points and indicate your agreement to the
    statements underneath.</p>

  <ul class="bullet-point-list">
    <li>I have read and understood the Information
      Sheet for this research project and have had an opportunity to ask
      questions.
    </li>
    <li>I understand that my <%='childʼs' if @research_session.unable_to_consent? %>
      participation is voluntary and that I am free to withdraw them at any time
      without giving any reason.
    </li>
    <li>I understand that my <%='childʼs' if @research_session.unable_to_consent? %>
      activities during the research session may be observed and will be recorded.
      The data captured, in the form of <%= @research_session.recording_methods_sentence %>,
      will be used for current and future service development.
    </li>
    <li>I understand that this data will be stored securely and
      covered by the Data Protection Act.
    </li>
  </ul>

  <p class="highlight super-text">
    I agree to my <%= 'childʼs' if @research_session.unable_to_consent? %>
    participation in this research and understand that
    my childʼs data will be used as explained above.
  </p>

  <%# Note: no whitespace between divs important here %>
  <div class="writing-field name">
    <label for="name">Name</label>
    <input disabled name="name" class="space-for-writing">
  </div><div class="writing-field signature">
    <label for="signature">Signature</label>
    <input disabled name="signature" class="space-for-writing">
  </div><div class="writing-field date">
    <label for="date">Date</label>
    <input disabled name="date" class="space-for-writing">
  </div>
</div>
