<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Purpose</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= form.labelled_text_area(
            :purpose,
            text_options: {
              placeholder: 'Barnardo’s needs your help so we can...',
              autofocus: true
            }
          )
      %>

      <%= render 'button_bar' %>
  <% end %>
</div>
