<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Recording</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= checkbox_group_vertical(
            'recording_methods[]',
            'How will you be recording information?',
            RecordingMethods::NAME_VALUES,
            @research_session.recording_methods
          )
      %>

      <div class="js-ConditionalSubfield" data-controlled-by="recording_methods[]" data-control-value="other">
        <%= labelled_text_field_tag(
              :other_recording_method,
              'What is the other recording method?',
              @research_session.other_recording_method
            )
        %>
      </div>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
