<%= render 'back_link' %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="visually-hidden">Recording Methods</h1>
  <%= form_for @research_session, url: wizard_path do %>
      <%= checkbox_group_vertical(
            'recording_methods[]',
            'What recording methods do you plan to use?',
            RecordingMethods::NAME_VALUES,
            @research_session.recording_methods,
            legend_options: { class: 'subtitle-large' }
          )
      %>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
