<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="visually-hidden">Research details</h1>
  <%= form_for @research_session, url: wizard_path do %>

    <fieldset class="fieldset" name="first-researcher">
      <legend class="fieldset__legend">What is the name of the lead researcher with the participant?</legend>
      <%= labelled_text_field_tag :researcher_name, 'Full name', @research_session.researcher_name %>
      <%= labelled_text_field_tag :researcher_phone, 'Telephone number', @research_session.researcher_phone %>
      <%= labelled_text_field_tag :researcher_email, 'Email', @research_session.researcher_email %>
    </fieldset>

    <fieldset class="fieldset" name="second-researcher">
      <legend class="fieldset__legend">
        What is the name of the second researcher?
        <span class="fieldset__hint">We recommend design research always be conducted in pairs.</span>
      </legend>

      <%= labelled_text_field_tag :researcher_other_name, 'Full name', @research_session.researcher_other_name %>
    </fieldset>

    <%= render 'ok_cancel' %>
  <% end %>
</div>
