<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Storing information</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

    <%= form.radio_group_vertical \
        :shared_with,
        SharedWith::NAME_VALUES,
        { autofocus_first_item: true },
        legend: (raw I18n.t('research_session_attr_labels.shared_with') \
                     + '<br />' + I18n.t('research_session_attr_labels.shared_with_sublabel'))
    %>

    <%= form.labelled_text_field \
        :shared_duration, 
        (raw I18n.t('research_session_attr_labels.shared_duration') \
             + '<br />' + I18n.t('research_session_attr_labels.shared_duration_sublabel'))
    %>
    
    <%= render 'button_bar' %>
  <% end %>
</div>
