<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Time and equipment</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

    <fieldset class="datefield" id="start_datetime">
      <legend class="datefield__label">Please enter the time and date of the session (optional)</legend>
      <%= form.datetime_select :start_datetime %>
    </fieldset>

    <%= form.labelled_text_field :duration %>

    <%= form.labelled_text_area :participant_equipment %>

    <%= render 'button_bar' %>
  <% end %>
</div>
