<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Topic</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
      <%= labelled_text_area_tag(
            :topic,
            'What is the research or participation session about?',
            @research_session.topic,
            text_options: {
              placeholder: 'The topic of the project is...'
            }
          )
      %>

      <%= render 'ok_cancel' %>
  <% end %>
</div>
