<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'error_summary' %>
  <h1 class="subtitle-large">Topic</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>
    <%= form.labelled_text_field(
          :topic,
          text_options: {
            placeholder: 'e.g. how young people think of consent and research',
            autofocus: true
          }
        )
    %>

    <%= form.labelled_text_field(
          :purpose,
          text_options: {
            placeholder: 'e.g. talk to them in a way that they understand.',
            autofocus: true
          }
        )
    %>

    <%= render 'button_bar' %>
  <% end %>
</div>
