<div class="SinglelineTextControl">
  <label class="SinglelineTextControl-label" for="<%= id %>">
    <%= label %>
  </label>
  <input
    class="SinglelineTextControl-element"
    name="<%= id %>"
    id="<%= id %>"
    type="text"
    size="<%= size if defined?(size) %>"
  />
</div>
