<div class="OfManyChoiceControl <%= 'OfManyChoiceControl--errored' if errored %>">
  <fieldset class="OfManyChoiceControl-fieldset" id="<%= id %>">
    <legend class="OfManyChoiceControl-legend"><%= legend %></legend>
    <input type="hidden" name="<%= collection %>" value="">
    <% if validation.present? %>
      <p class="OfManyChoiceControl-validation">
        <strong class="OfManyChoiceControl-validationInner">
          <%= @research_session.errors.full_message(name, validation) %>
        </strong>
      </p>
    <% end %>
    <div class="OfManyChoiceControl-choiceControls">
      <% choices.each do |key, value| %>
        <div class="OfManyChoiceControl-choiceControl">
          <%= c('ChoiceControl',
            name: collection,
            id: "research_session[#{key}]",
            value: key,
            label: value.capitalize,
            type: choiceType,
            checked: (choices_selected.include?("#{key}") if choices_selected.present?)
          ) %>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
