<div class="main-content">
  <%= render 'shared/error_summary' %>
  <h1 class="page-heading">Expenses</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

    <%= form.radio_group_vertical :expenses_enabled,
      { true => 'Yes', false => 'No' },
      { autofocus_first_item: true },
      legend: t('helpers.legend.research_session.expenses_enabled')
    %>

    <div class="js-ConditionalSubfield" data-controlled-by="research_session[expenses_enabled]" data-control-value="true">
      <div class="reactive-container">
        <div class="reactive-container__form">

          <%= form.labelled_text_field :travel_expenses_limit,
                text_options: { placeholder: '0.00', autofocus: true, 'data-previewed-by' => 'ExpensesPreviews' }
          %>

          <%= form.labelled_text_field :food_expenses_limit,
                text_options: { placeholder: '0.00', 'data-previewed-by' => 'ExpensesPreviews' }
          %>

          <%= form.labelled_text_field :other_expenses_limit,
            text_options: { placeholder: '0.00', 'data-previewed-by' => 'ExpensesPreviews' }
          %>

          <%= form.radio_group_vertical :receipts_required,
                { true => 'Yes', false => 'No' },
                {input: {'data-previewed-by' => 'ExpensesPreviews'}},
                legend: 'Must the participant provide a receipt for any expenses claimed?'
          %>
        </div>
        <div class="reactive-container__preview">
          <%#
            react_component('ExpensesPreviews', current_step_params)
          %>
        </div>
      </div>
    </div>
    <%= render 'button_bar' %>
  <% end %>
</div>
