<%= c('Step') do %>
  <%= c('Title', text: 'Incentives') %>

  <%= c('ErrorSummary', errors: @research_session.errors.to_hash) if @research_session.errors.any? %>

  <div class="Step-form">
    <%= c('Form', action: wizard_path, patch: true) do %>
      <%= c('OfManyChoiceControl',
        id: 'research_session[incentives_enabled]',
        name:'incentives_enabled',
        collection: "research_session[#{:incentives_enabled}]",
        choices: [
          {
            id: 'incentives_enabled_true',
            value: true,
            label: 'Yes'
          },
          {
            id: 'incentives_enabled_false',
            value: false,
            label: 'No'
          }
        ],
        choices_selected: @research_session.incentives_enabled.nil? ? [false] : [@research_session.incentives_enabled],
        legend: t('helpers.legend.research_session.incentives_enabled'),
        choice_type: 'single',
        errored: @research_session.errors['incentives_enabled'].present?,
        validation: @research_session.errors['incentives_enabled'][0]
      ) %>

    <%= c('ChoiceControlledContent',
        is_active: (@research_session.incentives_enabled.present? && [@research_session.incentives_enabled.to_s].include?('true')),
        controlled_by: '[id="research_session[incentives_enabled_true]"]') do %>

            <%= c('OfManyChoiceControl',
              id: 'research_session[payment_type]',
              name:'payment_type',
              collection: "research_session[#{:payment_type}]",
              choices: PaymentType::CHOICES,
              choices_selected: [@research_session.payment_type],
              legend: 'What form will the incentive take?',
              choice_type: 'single',
              errored: @research_session.errors['payment_type'].present?,
              validation: @research_session.errors['payment_type'][0]
            ) %>

            <%= c('SinglelineTextControl',
              id: 'research_session[incentive_value]',
              name: 'incentive_value',
              value: @research_session.incentive_value,
              label: t('research_session_attr_labels.incentive_value'),
              hint: 'e.g. 5.00',
              size: 24,
              errored: @research_session.errors['incentive_value'].present?,
              validation: @research_session.errors['incentive_value'][0]
            ) %>

        <% end %>
      <%= render partial: 'submit_step' %>
    <% end %>

    <div class="Step-formPreview">
      <% ct = "preview.able_to_consent" %>
      <%= c('ChoiceControlledContent',
        is_active: @research_session.incentives_enabled,
        controlled_by: '[id="research_session[incentives_enabled_true]"]') do %>
        <%= c('PreviewConsentForm') do %>
          <%= c('HeadingOne', text: t("#{ct}.the_session.heading")) %>

          <%= c('Paragraph') do %>
            …
          <% end %>

          <%= c('ChoiceControlledContent',
            is_active: (@research_session.payment_type == 'cash'),
            controlled_by: '[id="research_session[cash]"]') do %>
            <%= c('Paragraph') do %>
              <%= raw t(
                "#{ct}.the_session.incentive",
                value: c(
                  'FieldPreview',
                  text: number_to_currency(@research_session.incentive_value),
                  listens_to: '[name="research_session[incentive_value]"]',
                  format_value: 'currency'
                ),
                payment_type: c(
                  'FieldPreview',
                  text: t("#{ct}.the_session.payment_type.cash")
                )
              ) %>
            <% end %>
          <% end %>

          <%= c('ChoiceControlledContent',
            is_active: (@research_session.payment_type == 'voucher'),
            controlled_by: '[id="research_session[voucher]"]') do %>
            <%= c('Paragraph') do %>
              <%= raw t(
                "#{ct}.the_session.incentive",
                value: c(
                  'FieldPreview',
                  text: number_to_currency(@research_session.incentive_value),
                  listens_to: '[name="research_session[incentive_value]"]',
                  format_value: 'currency'
                ),
                payment_type: c(
                  'FieldPreview',
                  text: t("#{ct}.the_session.payment_type.voucher")
                )
              ) %>
            <% end %>
          <% end %>

          <%= c('Paragraph') do %>
            …
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
