<%= c('Step') do %>
  <%= c('Title', text: 'Methodologies') %>

  <%= c('ErrorSummary', errors: @research_session.errors.to_hash) if @research_session.errors.any? %>

  <div class="Step-form">
    <%= c('Form', action: wizard_path, patch: true) do %>
      <%= c('OfManyChoiceControl',
        id: 'research_session[methodologies][]',
        name:'methodologies',
        collection: "research_session[#{:methodologies}][]",
        choices: Methodologies::CHOICES,
        choices_selected: @research_session.methodologies,
        legend: 'How will you be gathering information?',
        choice_type: 'multi',
        errored: @research_session.errors['methodologies'].present?,
        validation: @research_session.errors['methodologies'][0]
      ) %>

      <%= c('ChoiceControlledContent',
        is_active: (@research_session.methodologies.present? && @research_session.methodologies.include?('other')),
        controlled_by: '[id="research_session[other]"]') do %>
        <%= c('SinglelineTextControl',
          id: 'research_session[other_methodology]',
          name: 'other_methodology',
          value: @research_session.other_methodology,
          label: t('research_session_attr_labels.other_methodology'),
          size: 48,
          errored: @research_session.errors['other_methodology'].present?,
          validation: @research_session.errors['other_methodology'][0]
        ) %>
      <% end %>

      <%= render partial: 'submit_step' %>
    <% end %>

    <div class="Step-formPreview">
      <% ct = "preview.able_to_consent" %>
      <%= c('PreviewConsentForm') do %>
        <%= c('HeadingOne', text: t('preview.able_to_consent.the_research.heading')) %>
        <%= c('Paragraph') do %>
          <%= raw t(
            "#{ct}.the_research.take_part_in",
            researcher_name: c(
              'Output',
              text: @research_session.researcher_name,
              field: 'researcher_name',
              url: edit_link_for(:researcher_name)
            ),
            researcher_job_title:c(
              'Output',
              text: @research_session.researcher_job_title,
              field: 'researcher_job_title',
              url: edit_link_for(:researcher_job_title)
            )
          ) %>
        <% end %>
        <%= c('UnorderedList') do %>
          <% t("#{ct}.the_research.methodologies").each do |key, value| %>
            <%= c(
              'ChoicePreview',
              controlled_by: "[id='research_session[#{key.to_s}]']",
              is_active: (
                @research_session.methodologies.present? && @research_session.methodologies.include?(key.to_s)
              )
            ) do %>
              <% if key != :other %>
                <%= value %>
              <% else %>
                <%= c(
                  'FieldPreview',
                  text: @research_session.other_methodology,
                  listens_to: '[name="research_session[other_methodology]"]'
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
