<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'shared/error_summary' %>
  <h1 class="page-heading">Researcher</h1>

  <div class="research-guidance">
    <p>The researcher’s details will go directly on the sheet sent to participants of this session so they can contact you with any queries. The researcher should refer to the safeguarding code of conduct in <a href="http://b-hive.barnardos.org.uk/Interact/Pages/Content/Document.aspx?id=5100&SearchId=">BREC Guidance</a> so they are confident they know what to do if a safeguarding concern arises during the session.</p>
  </div>

  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

      <fieldset class="fieldset">
        <legend class="fieldset__legend">Who will the participants meet as part of the session?</legend>
        <p>
          Who is the person who is leading the research or participation session? Please note: participants will be
          informed that they
          can get further information from this person, and their contact details will be included on the information
          sheet.
        </p>

        <div class="reactive-container">
          <div class="reactive-container__form">
            <% previewed_on_page = { 'data-previewed-by' => 'ResearcherPreviews' } %>
            <%= form.labelled_text_field :researcher_job_title,
                text_options: { autofocus: true }.merge(previewed_on_page) %>
            <%= form.labelled_text_field :researcher_name, text_options: previewed_on_page %>
            <%= form.labelled_text_field :researcher_phone, text_options: previewed_on_page %>
            <%= form.labelled_text_field :researcher_email, text_options: previewed_on_page %>
          </div>
          <div class="reactive-container__preview">
            <%#
              react_component(
                'ResearcherPreviews/index',
                current_step_params.merge(you_or_your_child: 'you')
              )
            %>
          </div>
        </div>

      </fieldset>

      <%= render 'button_bar' %>
  <% end %>
</div>
