<%= c('Step') do %>
  <%= c('Title', text: 'Storing') %>

  <%= c('ErrorSummary', errors: @research_session.errors.to_hash) if @research_session.errors.any? %>

  <div class="Step-form">
    <%= c('Form', action: wizard_path, patch: true) do %>
      <%= c('OfManyChoiceControl',
        id: 'research_session[shared_with]',
        name: 'shared_with',
        collection: "research_session[#{:shared_with}]",
        choices: SharedWith::CHOICES,
        choices_selected: [@research_session.shared_with],
        legend: t('helpers.legend.research_session.shared_with'),
        choice_type: 'single',
        errored: @research_session.errors['shared_with'].present?,
        validation: @research_session.errors['shared_with'][0]
      ) %>

      <%= c('SinglelineTextControl',
          id: 'research_session[shared_duration]',
          name: 'shared_duration',
          value: @research_session.shared_duration,
          label: t('research_session_attr_labels.shared_duration'),
          spanText: t('helpers.spanText.research_session.shared_duration'),
          hint: t('helpers.hint.research_session.shared_duration'),
          size: 24,
          errored: @research_session.errors['shared_duration'].present?,
          validation: @research_session.errors['shared_duration'][0]
        ) %>

      <%= render partial: 'submit_step' %>
    <% end %>

    <div class="Step-formPreview">
      <% ct = "preview.able_to_consent" %>
      <%= c('PreviewConsentForm') do %>
        <%= c('HeadingOne', text: t("#{ct}.personal_data.heading")) %>
        <%= c('Paragraph') do %>
          &hellip;
        <% end %>
        <% t("#{ct}.personal_data.shared_with").each do |key, value| %>
          <%= c('ChoiceControlledContent', controlled_by: "[id=\"research_session[#{key.to_s}]\"]", is_active: @research_session.shared_with == key.to_s) do %>
            <%= c('Paragraph') do %>
              <%= value %>
            <% end %>
          <% end %>
        <% end %>
        <%= c('Paragraph') do %>
          <%= raw t("#{ct}.personal_data.shared_duration", duration: c(
            'FieldPreview',
            text: @research_session.shared_duration,
            listens_to: '[name="research_session[shared_duration]"]'
          )) %>
        <% end %>
        <%= c('Paragraph') do %>
          &hellip;
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


