<%= render "research_sessions/progress" %>
<div class="main-content">
  <%= render 'shared/error_summary' %>
  <h1 class="subtitle-large">Storing</h1>
  <%= barnardos_form_with model: @research_session, url: wizard_path do |form| %>

    <%= form.radio_group_vertical \
        :shared_with,
        SharedWith::NAME_VALUES,
        { autofocus_first_item: true },
        legend: t('helpers.legend.research_session.shared_with')
    %>

    <%= form.labelled_text_field \
        :shared_duration,
        label_options: {
          hint: t('helpers.hint.research_session.shared_duration')
        },
        text_options: {
          placeholder: t('helpers.placeholder.research_session.shared_duration'),
        }
    %>

    <%= render 'button_bar' %>
  <% end %>
</div>
