<%= c('Step') do %>
  <%= c('Title', text: 'Where & when') %>

  <%= c('ErrorSummary', errors: @research_session.errors.to_hash) if @research_session.errors.any? %>

  <div class="Step-form">
    <%= c('Form', action: wizard_path, patch: true) do %>
      <%= c('OfManyChoiceControl',
        id: 'research_session[where_when_enabled]',
        name:'where_when_enabled',
        collection: "research_session[#{:where_when_enabled}]",
        choices: [
          {
            id: 'where_when_enabled_true',
            value: true,
            label: 'Yes'
          },
          {
            id: 'where_when_enabled_false',
            value: false,
            label: 'No'
          }
        ],
        choices_selected: @research_session.where_when_enabled.nil? ? [false] : [@research_session.where_when_enabled],
        legend: t('helpers.legend.research_session.where_when_enabled'),
        choice_type: 'single',
        errored: @research_session.errors['where_when_enabled'].present?,
        validation: @research_session.errors['where_when_enabled'][0]
    ) %>

    <%= c('ChoiceControlledContent',
        is_active: (@research_session.where_when_enabled.present? && [@research_session.where_when_enabled.to_s].include?('true')),
        controlled_by: '[id="research_session[where_when_enabled_true]"]') do %>
          <%= c('SinglelineTextControl',
            id: 'research_session[when_text]',
            name: 'when_text',
            value: @research_session.when_text,
            label: t('research_session_attr_labels.when_text'),
            hint: t('research_session_attr_labels.hint'),
            size: 40,
            errored: @research_session.errors['when_text'].present?,
            validation: @research_session.errors['when_text'][0]
          ) %>

        <%= c('SinglelineTextControl',
          id: 'research_session[location]',
          name: 'location',
          value: @research_session.location,
          label: t('research_session_attr_labels.location'),
          size: 48,
          errored: @research_session.errors['location'].present?,
          validation: @research_session.errors['location'][0]
        ) %>

        <%= c('SinglelineTextControl',
          id: 'research_session[duration]',
          name: 'duration',
          value: @research_session.duration,
          label: t('research_session_attr_labels.duration'),
          size: 16,
          errored: @research_session.errors['duration'].present?,
          validation: @research_session.errors['duration'][0]
        ) %>

        <%= c('SinglelineTextControl',
          id: 'research_session[food_provided]',
          name: 'food_provided',
          value: @research_session.food_provided,
          label: t('research_session_attr_labels.food_provided'),
          size: 48,
          errored: @research_session.errors['food_provided'].present?,
          validation: @research_session.errors['food_provided'][0]
        ) %>

        <%= c('SinglelineTextControl',
          id: 'research_session[participant_equipment]',
          name: 'participant_equipment',
          value: @research_session.participant_equipment,
          label: t('research_session_attr_labels.participant_equipment'),
          size: 48,
          errored: @research_session.errors['participant_equipment'].present?,
          validation: @research_session.errors['participant_equipment'][0]
        ) %>
         
      <% end %>
      <%= render partial: 'submit_step' %>
    <% end %>

    <div class="Step-formPreview">
      <% ct = "preview.able_to_consent" %>
      <%= c('ChoiceControlledContent',
          is_active: @research_session.where_when_enabled,
          controlled_by: '[id="research_session[where_when_enabled_true]"]') do %>
        <%= c('PreviewConsentForm') do %>
          <%= c('HeadingOne', text: t("#{ct}.the_session.heading")) %>

          <% [:when_text, :location, :duration].each do |field| %>
            <%= c('Paragraph') do %>
              <%= raw t("#{ct}.the_session.#{field}") % [
                c(
                  'FieldPreview',
                  text: @research_session["#{field}"],
                  listens_to: "[name=\"research_session[#{field}]\"]"
                )
              ] %>
            <% end %>
          <% end %>

          <%= c('Paragraph') do %>
            <%= raw t(
              "#{ct}.the_session.participant_equipment",
              equipment: c(
                'FieldPreview',
                text: @research_session.participant_equipment,
                listens_to: '[name="research_session[participant_equipment]"]'
              )
            ) %>
          <% end %>

          <%= c('Paragraph') do %>
            …
          <% end %>

          <%= c('Paragraph') do %>
            <%= raw t(
              "#{ct}.the_session.food_provided",
              food: c(
                'FieldPreview',
                text: @research_session.food_provided,
                listens_to: '[name="research_session[food_provided]"]'
              )
            ) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

