<style>
  code {
    font-family: monospace;
    font-size: 80%;
  }

  .example {
    margin-bottom: 1em;
    padding: 0;
  }

  .example code {
    display: block;
    white-space: pre;
    line-height: 1.2em;
    color: #555;
  }
</style>

<h1 class="title">Title</h1>
<h2 class="subtitle-large">Subtitle Large</h2>
<h3 class="subtitle-medium">Subtitle Medium</h3>
<h4 class="subtitle-small">Subtitle Small</h4>

<p class="super-text">
  Super-text. Our font sizes are based 1.125 multiplier scale with a base size of 18px for 1 rem.
  The values have been rounded to give whole pixel values. Using sizes from this type scale
  will create visual, as well as hierarchical consistency, throughout our services. Line-heights
  should always be a multiple of 4, this will ensure the copy aligns to the 8px baseline
  grid while allowing more flexibility in setting type than multiples of 8.
</p>

<p>
  Our font sizes are based 1.125 multiplier scale with a base size of 18px for 1 rem.
  The values have been rounded to give whole pixel values. Using sizes from this type scale
  will create visual, as well as hierarchical consistency, throughout our services. Line-heights
  should always be a multiple of 4, this will ensure the copy aligns to the 8px baseline
  grid while allowing more flexibility in setting type than multiples of 8.
</p>

<%= form_tag do %>

  <h1 class="title"><code>Barnardos::ActionView::FormHelpers</code></h1>
  <h2 class="title"><code>labelled_text_field_tag</code></h2>

  <h3 class="subtitle-large">With hint</h3>
  <div class="example">
    <code>
<%%= labelled_text_field_tag :participant_name,
      'What is the name of the research participant?',
      label_options: { hint: 'Full name' } %>
    </code>

    <%= labelled_text_field_tag :participant_name,
        'What is the name of the research participant?',
        label_options: { hint: 'Full name' } %>
  </div>


  <h3 class="subtitle-large">With error</h3>
  <div class="example">
    <code>
<%%= labelled_text_field_tag :participant_login,
      'What is the login of the research participant?',
      label_options: { hint: 'Full name' },
      error: 'Test error message' %>
    </code>

    <%= labelled_text_field_tag :participant_login,
          'What is the login of the research participant?',
          label_options: { hint: 'Full name' },
          error: 'Test error message' %>
  </div>

  <h3 class="subtitle-large">With a hint and label class of <code>subtitle-large</code></h3>
  <div class="example">
    <code>
<%%= labelled_text_field_tag :participant_login,
      'What is the login of the research participant?',
      label_options: { hint: 'Some hint', class: 'subtitle-large' } %>
    </code>

    <%= labelled_text_field_tag :participant_login,
          'What is the login of the research participant?',
          label_options: { hint: 'Some hint', class: 'subtitle-large' } %>
  </div>


  <h2 class="title"><code>labelled_text_area_tag</code></h2>

  <h3 class="subtitle-large">With error</h3>
  <div class="example">
    <code>
<%%= labelled_text_area_tag(
      :focus,
      'What is the focus of your research project?',
      label_options: {
          hint: 'Use simple language to explain what you are researching '\
              'and why you are doing it',
          class: 'subtitle-large'
      }
  )
%>
    </code>
    <%= labelled_text_area_tag(
          :focus,
          'What is the focus of your research project?',
          label_options: {
              hint: 'Use simple language to explain what you are researching '\
                  'and why you are doing it',
              class: 'subtitle-large'
          }
      )
    %>
  </div>

  <h2 class="title"><code>checkbox_group_vertical</code></h2>

  <h3 class="subtitle-large">With hint</h3>
  <div class="example">
    <code>
<%%= checkbox_group_vertical(
        'methodologies[]',
        'What research methodologies will you be using?',
        Methodologies::NAME_VALUES,
        legend_options: { class: 'subtitle-large', hint: 'A sniff of a hint' }
      )
%>
    </code>
    <%= checkbox_group_vertical(
            'methodologies[]',
            'What research methodologies will you be using?',
            Methodologies::NAME_VALUES,
            legend_options: { class: 'subtitle-large', hint: 'A sniff of a hint' }
        )
    %>
  </div>

  <h2 class="title"><code>radio_group_vertical</code></h2>

  <h3 class="subtitle-large">With hint</h3>
  <div class="example">
    <code>
<%%=
  radio_group_vertical :age,
      'What is the age of the research participant?',
      Age::NAME_VALUES,
      @research_session.age,
      legend_options: { class: 'subtitle-large' }
%>
    </code>
    <%=
      radio_group_vertical :age,
          'What is the age of the research participant?',
          Age::NAME_VALUES,
          legend_options: { class: 'subtitle-large', hint: 'A sniff of a hint' }
    %>
  </div>




<% end %>
