<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <% if defined?(step) %>
      <%= title(@research_session, step) %>
    <% else %>
      <%= title(@research_session) %>
  <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body>

<%= c('Layout') do %>
  <%= c('Header') %>

  <%= yield %>
<% end %>

<script>
  window.googleAnalyticsCode = '<%= ENV['GOOGLE_ANALYTICS_CODE'] %>';
  window.hotjarID = '<%= ENV['HOTJAR_ID'] %>';
</script>

<%= javascript_pack_tag 'application' %>

</body>
</html>
