<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <% if defined?(step) %>
      <%= title(@research_session, step) %>
    <% else %>
      <%= title(@research_session) %>
  <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
</head>

<body>
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div class="visually-hidden">
  <a href="#content">Skip to main content</a>
</div>

<header role="banner" id="global-header">
  <div id="global-header__logo">
    <%= image_tag 'barnardos-logo.svg', alt: 'Barnardos logo' %>
  </div>
  <div id="global-header__menu"></div>
</header>

<nav class="global-header-bar">
  <ul class="research-session-commands">
    <% unless already_creating_session? %>
      <li class="research-session-commands__item">
        <%=
          link_to 'New', new_research_session_path,
                  class: 'button button--add button--small button--green button--no-margin'
        %>
      </li>
    <% end %>
    <% if @research_session&.previewable?  %>
      <li class="research-session-commands__item">
        <%= create_a_copy_link(@research_session) %>
      </li>
    <% end %>
    <% if @research_session&.name  %>
      <li class="research-session-commands__item">
        <%= render 'shared/share' %>
      </li>
    <% end %>
  </ul>
</nav>

<main id="main" role="main">
  <%= yield :progress %>
  <div id="content">
    <%= yield %>
  </div>
</main>

<%= javascript_pack_tag 'application' %>

<footer id="global-footer__release">
  <label>Release <%= link_to_current_sha %></label>
</footer>

</body>
</html>


